<div class="parent_div">
  <div class="child_div">
    <div style="display: flex; justify-content: center;align-items: center;">
      <h2 class="Refund_style">BPO - Employee of firm Login Window</h2>
      </div>
    <div class="main-div">
      <mat-card>
        <!-- title of the page -->
        <div style="text-align: center;">
        <mat-card-title > Change Password</mat-card-title>
        </div>
    
        <form>
          <!-- enter your password -->
         <div >
          <mat-form-field class="col-6" appearance="fill">
            <mat-label>enter your password</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'">
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
          </mat-form-field>
         </div>
     
          <!-- done button -->
        <button fxFlexFill mat-raised-button color="primary" type="submit" >Done</button>
         
        <!-- Log In Now button -->
        <mat-card-actions class="center">
             <a mat-button matTooltip="Sign Up" routerLink="/login">Log In Now</a>
        </mat-card-actions>
    
        </form>
    
      </mat-card>
    </div>
</div>
</div>