mat-form-field{
  width: 100%;

}
.main-div{
  display: flex;
  justify-content: center;
  align-items: center;
}
mat-card-title{
  color:#3F51B5;
  font: Arial,sans-serif;
  font-size: 20px;

}
.Timer{
  color:blue;
  text-transform: capitalize;
}



  /* this is the mobile view */
  @media only screen and (max-width:600px){
    .child_div{
    position: relative;
    top: 65px;
    bottom: 0;
    margin-bottom: 18.1%;
  }
  .col-6{
    width: 87vw;
  }
}

/* this is the tablete view */
@media only screen and (min-width:720px){
  .child_div{
    position: relative;
    top: 155px;
    bottom: 0;
    margin-bottom: 22%;
    }
    .col-6{
      width: 90vw;
    }


}


/* this is the laptop view */
@media only screen and (min-width:992px){
  .child_div{
    position: relative;
    top: 80px;
    bottom: 0;
    margin-bottom: 7.4%;
    }
    .col-6{
      width: 40vw;
    }
    .margin_of_the_input{
      margin: 0 10px;
    }
}
