<div class="parent_div">
  <div class="child_div">

    <div class="main-div">
      <mat-card>
        <div style="text-align: center;">
          <!-- title of the page -->
        <mat-card-title> Forget Password</mat-card-title>
       </div>
        <form [formGroup]="forgetpassword" (submit)="onOTPCheck(loginForm)" #loginForm="ngForm" (keydown.enter)="$event.preventDefault()">

          <!-- email is here -->
        <div class="margin_of_the_input" >
          <mat-form-field class="col-6">
            <input matInput formControlName="email" type="email" name="email"  placeholder="E-Mail" #emailInput>
            <mat-error *ngIf="!forgetpassword.get('email').valid && forgetpassword.get('email').touched">Please enter a valid email Or Incorrect !</mat-error>
          </mat-form-field>
        </div>

        <!-- mobile number is here -->
        <div class="margin_of_the_input" >
          <mat-form-field class="col-6">
            <input matInput formControlName="mobile" type="tel" name="number" placeholder="Mobile">
            <mat-error *ngIf="!forgetpassword.get('mobile').valid && forgetpassword.get('mobile').touched">your mobile number is wrong, please check again !</mat-error>
          </mat-form-field>
        </div>

        <!-- get OTP button is here -->
        <button fxFlexFill mat-raised-button color="primary" type="submit" > Get OTP</button>

        <!-- Resend button is here -->
        <div style="text-align:center; padding: 10px 0;">
          <mat-card-content style="margin: 5px;">
          <span class="Timer">  please wait {{opttimersec}} secs ...</span>

          </mat-card-content>
        </div>

          <!-- OTP title is here -->
        <div class="margin_of_the_input" >
          <div style="text-align: center;">
            <mat-card-title>OTP</mat-card-title>
          </div>

           <!-- OTP text fild is here -->
          <mat-form-field>
            <input matInput type="tel" placeholder="Enter OTP">
            <mat-error *ngIf="">Length should not be exceded more than Eight digit</mat-error>
          </mat-form-field>

          <!-- Next button -->
          <mat-card-actions align="end">
            <button mat-raised-button color="primary" type="button" routerLink="/change-password">Next</button>
          </mat-card-actions>

        </div>

        </form>
      </mat-card>
    </div>

  </div>
</div>


